<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tables</title>
    <!-- Core CSS - Include with every page -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	 <script>
	  $(document).ready(function(){
	  $("#addEntry").click(function () {
	  	document.getElementById('viewEntryFields').style.display = "block";
});
});
  </script>
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!--End Page Header -->
            </div>
	    <!--Table-->
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i>Record Status
	                </div>

	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="table-responsive">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead>
	                                        <tr>
	                                            <th>Id</th>
	                                            <th>Label</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<% @record_status_table.each do |record_status| %>
	                                        <tr>
	                                            <td><%= record_status.status_id %></td>
	                                            <td><%= record_status.status_label %></td>
	                                        </tr>	
	                                        <% end %>                                       
	                                    </tbody>
	                                </table>
	                            </div>
	                            <div>
	                             	<button id="addEntry" type="button" class="btn btn-primary">Add New Entry</button>
	                            </div>
	                            <br>
	                             <div id="viewEntryFields" style="display:none;" class="table-responsive">
	                             	<form action="createNewRecordStatus">
		                                <table class="table table-bordered table-hover table-striped">
		                                    <tbody>
		                                        <tr>
		                                            <td>
	                                            		<input id="statusId" name="statusId" class="form-control" placeholder="Enter Id">
	                                        		</td>
		                                            <td>
	                                            		<input id="statusLabel" name="statusLabel" class="form-control" placeholder="Enter Status Label">
	                                        		</td>
		                                        </tr>	                                    
		                                    </tbody>
		                                </table>
		                                <input id="saveEntry" value="Save" type="Submit" class="btn btn-success"></input>
	                            	</form>
	                            </div>
	                            

	                        </div>

	                    </div>
	                    <!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!--End of Table-->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

</body>

</html>